body {
  margin: 0;
  padding: 0;
  /* overflow: hidden; */
}

#nav {
  display: none;
}

#lobby {
  display: block;
}

#auditorium {
  display: none;
}

#about {
  display: none;
}

#eventFeedback {
  display: none;
}

#exhibition {
  display: none;
}

#leaderboard {
  display: none;
}

#resourceCenter {
  display: none;
}

.navbar {
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/opacity/see-through */
}

.wrapper {
  height: 100vh;
}

.wrapper-bg {
  background-image: url("../photos/Forum\ Engineering\ 2-min.jpg");
  height: 100%;
  background-size: 100%;
  filter: blur(8px);
  -webkit-filter: blur(8px);
}

.wrapper-bg-lobby {
  background-image: url("../photos/bg_lobby.png");
  background-position: 0% 25%;
  height: 100%;
  background-size: 100%;
}

.wrapper-bg-exhibition {
  background-image: url("../photos/ALL\ 03.jpg");
  height: 100%;
  background-size: 100%;
}

.wrapper-bg-unknown {
  background-image: url("../photos/Exhibitions.jpg");
  height: 100%;
  background-size: 100%;
}

.wrapper-bg-auditorium {
  background-image: url("../photos/auditorium.png");
  height: 100%;
  background-size: 100%;
  display: flex;
  background-position: 0% 25%;
  justify-content: center;
}

.wrapper-bg-connectionArea {
  background-image: url("../photos/connection\ room\ foreng\ rev\ 10-min\ \(1\).png");
  height: 100%;
  background-size: 100%;
}

.wrapper-bg-resource {
  background-image: url("../photos/resource.jpg");
  height: 100%;
  background-size: 100%;
}

.wrapper-bg-about {
  background-image: url("../photos/about_bg.jpg");
  height: 100%;
  background-size: 100%;
}

.wrapper-bg-feedback {
  background-image: url("../photos/activity.jpg");
  height: 100%;
  background-size: 100%;
}

.wrapper-bg-boothK {
  background-image: url("../photos/50\ 02.jpg");
  height: 100%;
  background-size: 100%;
}

.wrapper-bg-boothB {
  background-image: url("../photos/boothb.jpg");
  height: 100%;
  background-size: 100%;
}
.wrapper-bg-boothW {
  background-image: url("../photos/boothwika.jpg");
  height: 100%;
  background-size: 100%;
  background-position: 0% 50%;
  background-repeat: no-repeat;
}

.logoSponsor {
  background-image: url("../photos/mandiri.png");
  height: 100%;
  background-size: 100%;
  background-repeat: no-repeat;
}

.navbar-brand {
  font-family: "Poppins", cursive;
  font-size: 1.75em;
}
.navbar-nav {
  /* margin-left: 40px; */
  margin-bottom: -5px;
  font-family: "Poppins", cursive;
  font-size: medium;
}
.nav-link {
  margin-right: 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 12vw;
}

.nav-link:hover {
  cursor: pointer;
  -webkit-transform: scale(1.1);
}
.zoom {
  zoom: 100%;
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
}

.loginPanel {
  width: 21%;
  /* height: 60%; */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.75); /* Black w/opacity/see-through */
  color: black;
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  border-radius: 2%;
  display: block;
  padding-bottom: 5%;
}

.loginPanel h1 {
  font-size: 2.8vh;
}
.foto {
  width: 20vh;
  top: 50%;
  left: 50%;
  transform: translate(55%, -50%);
  border-radius: 30%;
}

.flip-card {
  width: 300px;
  height: 250px;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}

.flip-card-back {
  transform: rotateY(180deg);
}

.fotoSponsor1 {
  width: 280px;
  height: 181px;
  margin-top: 40px;
}

.fotoSponsor2 {
  width: 250px;
  height: 151px;
  margin-top: 40%;
  margin-left: 36%;
}

.transbox {
  margin-top: 65px;
  background-color: black;
  opacity: 0.5;
}

.transboxFeedback {
  border-radius: 10px;
  margin-top: 20px;
  background-color: black;
  opacity: 0.75;
  border-radius: 10px;
}

.transbox p {
  font-size: 30px;
  font-family: Poppins, cursive;
  color: white;
  margin-top: 0px;
  margin-bottom: 0px;
  font-weight: bolder;
  opacity: 1;
}

.transbox a {
  font-size: 30px;
  font-family: Poppins, cursive;
  color: yellowgreen;
  margin-top: 0px;
  margin-bottom: 0px;
  font-weight: bolder;
  -webkit-transition: all 0.5s ease-in-out;
}

.transbox a:hover {
  cursor: pointer;
  font-size: 32px;
  text-decoration: none;
  -webkit-transform: scale(1.1);
  color: 31708f;
}

.aboutForeng {
  font-size: 30px;
  font-family: Poppins, cursive;
  color: yellowgreen;
  margin-top: 0px;
  margin-bottom: 0px;
  font-weight: bolder;
}

h1 {
  margin: 0%;
  padding: 0px;
  text-align: center;
  margin-top: -18%;
  margin-bottom: 5%;
  font-size: 20px;
  color: white;
  font-family: "Poppins", cursive;
}

.loginPanel p {
  margin-left: 10%;
  margin-top: 3%;
  font-weight: bold;
  color: white;
  font-family: "Poppins", cursive;
  font-size: 2vh;
}
.loginPanel input {
  width: 100%;
  margin-bottom: 20px;
  font-size: 2vh;
}

.loginPanel a {
  font-size: 2vh;
}

.loginPanel input[type="text"],
input[type="password"] {
  border: none;
  border-bottom: 1px solid #fff;
  background: transparent;
  outline: none;
  height: 40px;
  width: 80%;
  margin-top: -5%;
  margin-left: 10%;
  color: white;
  font-size: 2vh;
  font-family: "Poppins", cursive;
}

.loginPanel input[type="submit"] {
  border: 0px;
  outline: none;
  height: 40px;
  width: 50%;
  margin-left: 25%;
  margin-top: 2%;
  margin-bottom: 2%;
  font-size: 2.5vh;
  border-radius: 20px;
  font-family: "Poppins", cursive;
  box-shadow: 0 0 1px #ccc;
  -webkit-transition: all 0.1s ease-in-out;
  border: 0px;
}
.loginPanel input[type="submit"]:hover {
  cursor: pointer;
  -webkit-transform: scale(1.1);
  background: green;
}

.signup {
  text-decoration: none;
  font-size: 17px;
  line-height: 20px;
  color: white;
  margin-left: 5%;
  font-family: "Poppins", cursive;
  -webkit-transition: all 0.1s ease-in-out;
}

.signup:hover {
  cursor: pointer;
  font-size: large;
  text-decoration: none;
  -webkit-transform: scale(1.1);
  color: green;
}

iframe .ifa {
  display: block;
  margin: 0 auto;
  width: 28.2%;
  height: 14.8vh;
  border-top-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 0px;
  border-left-width: 0px;
}

iframe .ibk {
  display: block;
  margin: 0 auto;
  width: 42.2%;
  height: 14.8vh;
  border-top-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 0px;
  border-left-width: 0px;
}

.centered-thing {
  position: absolute;
  /* margin-top: 18%; */
  /* margin-left: -28.7%; */
  top: 29%;
}

.centered-things {
  position: absolute;
  margin-top: 3%;
  top: 38%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.position {
  -ms-flex: 0 0 46.666667%;
  flex: 0 0 57.666667%;
  max-width: 45.6666667%;
  /* position: absolute; */
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
}
.vidSponsor {
  -ms-flex: 0 0 46.666667%;
  flex: 0 0 55.666667%;
  max-width: 55.666667%;
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
}

.aboutHeader {
  font-size: 50px;
}

.backButton {
  margin: 0%;
  padding: 0px;
  text-align: center;
  margin-top: -18%;
  margin-bottom: 40%;
  font-size: 20px;
  color: white;
  font-family: "Poppins", cursive;
}

.titleFeedback {
  font-family: "Poppins,cursive";
  font-size: 50px;
  font-weight: bold;
  margin-top: -150px;
}

.transboxFeedback p {
  font-size: 30%;
  margin-top: 10px;
  margin-bottom: -4%;
  margin-left: 3%;
  text-align: left;
  color: white;
  font-family: "Poppins", cursive;
}
.transboxFeedback input {
  width: 100%;
  margin-bottom: px;
}

.colFeedback {
  flex-basis: 0;
  flex-grow: 1;
  max-width: 60%;
  left: 50%;
  margin-top: 0%;
  margin-left: 20%;
  overflow-y: scroll;
  overflow-x: unset;
  height: 400px;
}

.transboxChat {
  border-radius: 10px;
  margin-top: 20px;
  background-color: black;
  opacity: 0.7;
}

.colChat {
  flex-basis: 0;
  flex-grow: 1;
  /* max-width: 30%; */
  width: 30vw;
  left: 5%;
  overflow-y: scroll;
  height: 85vh;
  position: relative;
  top: 4%;
  margin: 0;
  scroll-behavior: smooth;
  /* bottom: 0; */
}

.colChat a {
  /* width: 30%; */
  height: 100%;
  background-color: black;
  margin: 0;
  opacity: 1;
  text-decoration: none;
  color: white;
  text-align: center;
  position: sticky;
}

.colChat input {
  border: none;
  border-bottom: 1px solid #fff;
  outline: none;
  height: 20px;
  width: 95%;
  margin-top: 0%;
  margin-left: 0%;
  color: white;
  margin: 0;
  bottom: 0%;
  background-color: black;
  position: sticky;
}

.userChat {
  height: 5%;
  width: 100%;
  margin: 0;
  position: sticky;
  bottom: 0;
  display: flex;
  align-items: center;
  background-color: black;
  z-index: 999;
}

.colChat p {
  opacity: 1;
}

.chatMessage .sender {
  width: 100%;
  height: 5%;
  display: flex;
}

.chatMessage .receiver {
  width: 100%;
  height: 8%;
  display: flex;
}

.chatMessage p {
  margin-top: 0;
  margin-bottom: 0.5rem;
}

.sender {
  text-align: left;
  color: white;
}

.sender span {
  color: red;
  font-weight: bold;
}

.receiver span {
  color: royalblue;
  font-weight: bold;
}

.receiver {
  text-align: left;
  color: white;
}

.transboxFeedback input[type="text"],
input[type="answer"] {
  border: none;
  border-bottom: 1px solid #fff;
  background: transparent;
  outline: none;
  height: 20px;
  width: 95%;
  margin-top: 0%;
  margin-left: 0%;
  color: white;
  font-size: 14px;
  font-family: "Poppins", cursive;
}

.transboxFeedback input[type="submit"] {
  outline: none;
  height: 40px;
  width: 30%;
  margin-left: 0%;
  margin-top: 2%;
  margin-bottom: -3%;
  font-size: 18px;
  border-radius: 8px;
  font-family: "Poppins", cursive;
  box-shadow: 0 0 1px #ccc;
  transition: all 0.1s ease-in-out;
  -webkit-transition: all 0.1s ease-in-out;
  border: 0px;
}
.transboxFeedback input[type="submit"]:hover {
  cursor: pointer;
  -webkit-transform: scale(1.1);
  background: green;
}

/* width */
::-webkit-scrollbar {
  width: 0.5vw;
}

/* Track */
.colChat::-webkit-scrollbar-track {
  background: black;
  opacity: 0.7;
}

/* Handle */
.colChat::-webkit-scrollbar-thumb {
  background: green;
  border-radius: 10vw;
}

/* Handle on hover */
.colChat::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.manualModal {
  z-index: 1000;
  background-size: 100vw;
  background-color: rgb(0, 0, 0, 0.6);
  backdrop-filter: blur(5px);
  height: 100vh;
  width: 100vw;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  position: absolute;
  left: 0;
  top: 0;
}

.manualModal img {
  z-index: 5;
  position: absolute;
}
